* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	color: #000000;
}

body {
	background-color: #FEF5CA;
    background: url('images/');
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
    font-family: 'Crimson Text', serif;
    
}

section {
	border:	1px solid black;
	background-color: #00FFFF;
	width: 100%;
	height: auto;
    font-family: 'Crimson Text', serif;
    color: black;
	position: relative;
	overflow: auto;
}

#chicken {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
    font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
	font-size: 155%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #BDB76B;
}

#beef {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
    font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
	font-size: 155%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #008B8B;
}

#sushi {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
	font-size: 155%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #7FFF00;
	color: black;
	padding: 5px;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
  color: black;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
  color: black;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
  color: black;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #006400;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #8B008B	;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #00FFFF;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: black;
  font-size: 1.2em;
}